* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: rgb(207, 233, 207);
}

.category-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    justify-items: center;
}

.restaurant-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 15px;
}

.restaurant {
    background: white;
    box-shadow: 0px 0px 10px rgb(177, 177, 177);
    display: grid;
    justify-items: center;
    align-items: center;
    border-radius: 5px;
}

.restaurant-image {
    width: 80%;
    height: auto;
}

.button-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
}

.green-button {
    background: rgb(236, 248, 236);
    border: none;
    border-radius: 50px;
    padding: 7px 10px;
    width: 100px;
    color: #444444;
}

/* .menu-type {
    background: white;
    padding: 20px;
    box-shadow: 0px 0px 10px rgb(177, 177, 177);
} */

.menu-item {
    display: flex;
    justify-content: space-between;
    /* border-bottom: 1px dotted grey; */
    margin-bottom: 10px;
    padding: 20px;
    background: white;
    box-shadow: 0px 0px 10px rgb(177, 177, 177);
    border-radius: 5px;
}

#details {
    padding: 20px;
    background: white;
    box-shadow: 0px 0px 10px rgb(177, 177, 177);
    border-radius: 5px;
    margin: 20px 0;
}

.single-view-wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 10px;
}