* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
input:focus {
    outline:none !important;
}
body {
    font-family: 'Nunito';
    background: whitesmoke;
    font-family: 'Open sans';
}
nav {
    display: flex;
    height: 70px;
    align-items: center;
    font-family: 'PT Sans narrow' !important;
    text-transform: uppercase;
    font-size: 18px;
    text-decoration: none;
    color: gray;
}
h1 {
    font-family: 'PT Sans narrow' !important;
    text-transform: uppercase;
    color: rgb(63, 63, 63);
}
h2, h3 {
    font-family: 'PT Sans narrow' !important;
    text-transform: uppercase;
    color: gray;
}


label {
    color: #3b444c;
    font-size: 12px;
}

.register-wrapper label, .profile-wrapper label {
    font-weight: bolder;
}

.register-wrapper, .profile-wrapper {
    width: 70%;
    margin: auto;
}

.register-wrapper .form-control, .profile-wrapper .form-control {
    border: none !important;
    box-shadow: 0 0 10px #ddd !important;
    margin-bottom: 10px;
}

.register-wrapper .blue-button, .profile-wrapper .blue-button {
    margin-top: 10px;
}

#menu {
    margin-top: 50px;
}

.menu-items {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}
.menu-items div {
    margin-left: 10px;
    cursor: pointer;
}

a {
    text-decoration-line: none;
}

nav a {
    font-size: 18px;
    text-decoration-line: none;
    color: gray;
    margin-left: 10px;
}

.white-logo {
    filter: brightness(10);
}

.white-font {
    color: white !important;
    text-shadow: 0px 0px 10px #444444;
}

#cartMenu {
    display: flex;
}

#cartMenu a {
    margin-left: 5px;
}

#cartItemsLength {
    background: #ff632d;
    border-radius: 100px;
    padding: 2px;
    font-size: 12px;
    color: white;
    display: grid;
    justify-items: center;
    align-items: center;
    width: 20px;
    height: 20px;
}

#logo {
    height: 60px;
    width: auto;
}
.green-button {
    background: rgb(236, 248, 236);
    border: none;
    border-radius: 50px;
    padding: 10px;
    width: 100px;
    color: #444444;
}
.orange-button {
    background: #ff632d;
    border: none;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    color: white;
    font-family: 'PT Sans narrow';
    text-transform: uppercase;
    font-size: 16px;
}

.blue-button {
    background: lightslategrey;
    border: none;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    /* height: 100%; */
    color: white;
    font-family: 'PT Sans narrow';
    text-transform: uppercase;
    font-size: 16px;
}

.orange-button:hover, .green-button:hover, .blue-button:hover {
    opacity: 0.9;
}
.category-wrapper {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    max-width: 600px;
    justify-items: center;
    padding: 30px 0;
    margin: auto;
}

.category-wrapper div {
    margin: 5px;
}

.category-wrapper .all {
    margin: 5px;
    width: auto !important;
}

.restaurant-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 25px;
    margin-bottom: 50px;
}
.restaurant {
    background: white;
    box-shadow: 0px 0px 10px #ddd;
    display: grid;
    justify-items: center;
    align-items: center;
    border-radius: 5px;
}

.restaurant:hover {
    opacity: 0.9;
}

.restaurant-image {
    width: 100%;
    height: auto; 
}

.category-restaurant-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin: 10px 0;
}

.card-header {
    color: #ff632d;
    text-align: center;
    padding-bottom: 20px;
    background-color:transparent !important;
    border-bottom:none !important;
}

.category-types {
    color: #759b85;
    font-family: 'PT Sans narrow';
    text-transform: uppercase;
    margin: 0;
    font-size: 16px;
    margin-right: 10px;
}

.cart_item {
    display: grid;
    grid-template-columns: 3fr 0.5fr;
    padding: 15px 20px;
    background: white;
    box-shadow: 0px 0px 10px #ddd;
    border-radius: 10px;
    margin-bottom: 7px;
    /* border-bottom: 1px solid #ccc; */
    align-items: center;
}

.menu-item {
    display: flex;
    /* position: relative; */
    height: 120px;
    /* justify-content: space-between; */
    grid-template-columns: 2fr 0.5fr;
    margin-bottom: 10px;
    /* padding: 15px 20px; */
    background: white;
    box-shadow: 0px 0px 10px #ddd;
    border-radius: 5px;
    align-items: center;
}

.menu-image {
    height: 100%;
    width: auto;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    margin-right: 20px;
}

.menu-type {
    margin-bottom: 20px;
}

.menu-item .blue-button {
    height: 40px;
    width: 125px;
    margin: auto;
    margin-right: 35px;
}

.menu-item-div {
    padding: 15px 20px;
    position: absolute;
    left: 125px;
}

.restaurant-logo {
    width: 170px;
    height: auto;
    border-radius: 200px;
    /* border: 2px solid #ddd; */
    box-shadow: 0px 0px 10px #ddd;
    /* margin-top: -70px; */
}
#details {
    display: grid;
    justify-items: center;
    padding: 20px;
    background: white;
    box-shadow: 0px 0px 10px #ddd;
    border-radius: 5px;
    /* margin: 56px 0 0 -34px; */
}
.single-view-wrapper {
    display: grid;
    grid-template-columns: 0.7fr 2fr;
    grid-gap: 25px;
}

.order-head {
    display: grid;
    grid-template-columns: 0.7fr 1fr 1fr 1fr;
    background: whitesmoke;
    align-items: center;
    justify-items: center;
    margin: 0;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 5px;
}
.detail-head, .detail-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    /* justify-items: center; */
    justify-content: space-evenly;
    margin: 0;
    padding: 5px 25px;
}
.detail-info p:last-of-type {
    justify-self: flex-end;
    padding-right: 20px;
}

.profile-page {
    background: url(./../../public/img/profile.jpg);
    background-size: cover;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    position: fixed;
    opacity: 0.5;
    z-index: -2;
}

.restaurant-page {
    background: url(./../../public/img/default.jpg);
    background-size: cover;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    position: fixed;
    opacity: 0.1;
    z-index: -2;
}

.cart-page {
    background: url(./../../public/img/burger-bg.jpg);
    background-size: cover;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    position: fixed;
    opacity: 0.4;
    z-index: -2;
}

.cart-items {
    max-height: 79vh;
    overflow: auto;
}

.receipt-page {
    background: url(./../../public/img/background.jpg);
    background-size: cover;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    position: fixed;
    opacity: 0.4;
    z-index: -2;
}

.singleview-page {
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 220px;
    left: 0;
    top: 0;
    position: fixed;
    opacity: 0.7;
    z-index: -2;
}

#profileWrapper {
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px #ddd;
    height: 62vh;
    width: 80%;
    margin: auto;
    position: relative;
}

.order-details {
    display: none;
}

.opacity-1 {
    opacity: 1;
    z-index: 300;
}

.opacity-0 {
    opacity: 0;
    z-index: -3;
}

.visible {
    display: block;
}
.hidden {
    display: none;
}

.profile-component, .password-component, .order-component {
    transition: opacity 400ms ease;
    position: absolute;
    width: 95%;
    background: white;
    max-height: 56vh;
    overflow: auto;
}

.header-password, .header-profile, .header-order {
    transition: background 400ms ease;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-password img, .header-profile img, .header-order img {
    height: 30px;
    width: auto;
    margin-right: 10px;
}

.active {
    background: white;
    margin: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 20px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin-bottom: -5px;
    z-index: 10000;
    box-shadow: 0 -10px 10px 0px rgba(221, 221, 221, 0.452);
    /* opacity: 1; */
}
.inactive {
    background: none;
    margin: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 20px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin-bottom: -5px;
    /* opacity: 0; */
}
.status {
    display: flex;
    justify-content: space-between;
}

.accepted {
    padding: 15px 25px 5px;
    border-top: 1px solid #ddd;
}

#profileClick {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    margin: auto;
    margin-top: 25px;
    width: 80%;
}
.detail-wrap {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}

#profileWrapper .detail-wrap {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0px;
}
.underline-input {
    border: none;
    border-bottom: 1px solid lightgray;
    background: none;
    padding: 0 0 15px;
    border-radius: 0;
    width: 100%;
    font-size: 18px;
    color: #444444;
    margin-bottom: 15px;
}

.cart {
    display: grid;
    /* grid-template-columns: 2fr 0.7fr; */
    grid-auto-flow: column;
    margin-top: 25px;
    grid-gap: 20px;
    width: 80%;
    margin: auto;
}
.cart-header {
    width: 80%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 10px;
}
.total {
    background: white;
    padding: 20px;
    border-radius: 10px;
    max-height: 30vh;
    box-shadow: 0px 0px 10px #ddd;
}

.payment-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* grid-column-gap: 35px; */
    /* height: 80vh; */
    align-items: center;
    /* justify-items: center; */
}
.payment-logo {
    height: 45px;
    width: auto;
    margin-top: 9px;
}
.flex {
    display: flex;
    /* justify-content: center; */
}
.datepicker {
    background: whitesmoke;
    height: 100vh;
    padding: 55px 55px 55px 100px;
}
.payment {
    background: white;
    height: 100vh;
    padding: 55px 100px 55px 55px;
    box-shadow: 0px 0px 10px lightgray;
}
#card {
    position: relative;
}
.card-number {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: none;
}
#cardWrap {
    display: flex;
}
.expiration {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.security {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: none;
}
.card-number, .security, .expiration, .card-name, .payment-address {
    padding: 19px 10px;
}
.card-name {
    margin-bottom: 15px;
}
#cardLabel {
    margin-top: 15px;
}
#cardImg {
    position: absolute;
    top: 5px;
    right: 5px;
    height: 30px;
    width: auto;
}
.payment-order-item {
    display: flex;
    justify-content: space-between;
}
.payment-order {
    background: white;
    padding: 15px 15px 5px 15px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 0px 10px lightgray;
    max-height: 39vh;
    overflow: auto;
}
.asap {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    background: white;
    margin-bottom: 10px;
    cursor: pointer;
    text-align: center;
    z-index: 15;
}

#dates {
    display: grid;
    grid-template-columns: 1fr 2fr 1.1fr;
    grid-gap: 2px;
    margin-top: -20px;
    transition: margin-top 300ms ease;
    z-index: 1;
}
.react-datepicker-wrapper {
    width: 100%;
}

.receipt-page-wrapper h2 {
    text-align: center;
}

.receipt-wrapper {
    background: white;
    /* padding: 20px; */
    width: 80%;
    margin: auto;
    margin-bottom: 50px;
    margin-top: 25px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #ddd;
}


.receipt-wrapper .detail-info {
    border-bottom: none;
    
}

.receipt-wrapper .auto-head {
    padding: 15px 0;
}

.swal-button {
    padding: 10px 50px;
    border-radius: 5px;
    background-color: lightslategray;
    font-size: 15px;
    border: none;
    margin: auto;
  }


/******************* TRANSITIONS ***********************/

.App {
    position: relative;
}

/* simple - enter transition 300ms, exit 150ms */
.fade-appear,
.fade-enter {
    opacity: 0;
    z-index: 1;
}
.fade-appear-active,
.fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 300ms linear 150ms;
}


.fade-exit {
    opacity: 1;
}


.fade-exit.fade-exit-active {
    opacity: 0;
    transition: opacity 150ms linear;
}


.page {
  position: absolute;
  margin-top: 75px;
  top: 0;
  left: 0;
  right: 0;
}

#payment {
    margin-top: 0px !important;
}